@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');


* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    color: #444;
    outline: none;
    font-family: 'Quicksand', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #fefefe;
}

.main {
    width: 80%;
    margin: auto;
}

section {
    margin-bottom: 100px;
    padding: 30px 0;
}

section:nth-of-type(even) {
    background-color: #f9f9f9;
}

.head-container {
    width: 80%;
    margin: 10px auto 0;
    background-color: #fefefe;
    border-radius: 50px;
    min-height: 60px;
    height: auto;
    /* padding: 1rem; */
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9;
}

.head-container.active {
    /* box-shadow: 0 1px 2px mediumaquamarine; */
    z-index: 9;
    border-radius: 20px;
}

header {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px 0 5px;
}

.logo {
    height: 60px;
    width: 60px;
    display: grid;
    place-items: center;
    /* background-color: #05ce81; */
    border-radius: 50%;
}

.logo img {
    width: 100%;
}

/* Navigators */
nav ul {
    display: flex;
    list-style: none;
    gap: 40px;
}

nav ul a {
    /* margin-left: 40px; */
    font-size: 15px;
    color: #444;
    position: relative;
}

nav ul a:hover,
.current {
    font-weight: 600;
}

.current::before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -9px;
    height: 5px;
    width: 60%;
    background-color: #05ce81;
    border-radius: 50px;
}

nav ul a::before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scalex(0);
    bottom: -9px;
    height: 5px;
    width: 60%;
    background-color: #05ce81;
    border-radius: 50px;
    transition: .2s;
}

nav ul a:hover::before {
    transform: translate(-50%) scalex(1);
}

/* menu toggle */

.toggle-box {
    height: 40px;
    width: 40px;
    /* border: 1px solid; */
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.toggle-box:active {
    background-color: #ddd;
    border-radius: 50%;
}

.toggle {
    position: relative;
    height: 2px;
    width: 70%;
    border-radius: 50px;
    background-color: #444;
}

.toggle.active {
    background-color: transparent;
}

.toggle::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 2px;
    width: 100%;
    border-radius: 50px;
    background-color: #444;
    transform: translatey(-5px);
    transition: .2s;
}

.toggle::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 2px;
    width: 100%;
    border-radius: 50px;
    background-color: #444;
    transform: translatey(5px);
    transition: .2s;
}

.toggle.active::before {
    /* background-color: #fefefe; */
    transform: translateY(0) rotate(45deg);
}

.toggle.active::after {
    /* background-color: #fefefe; */
    transform: translateY(0) rotate(-45deg);
}

.menu {
    height: 0px;
    overflow: hidden;
    transition: .2s;
    padding: 0 10px;
}

.menu.active {
    height: 280px;
    transition: .2s;
}

.menu nav ul {
    display: block;
    text-align: center;
}

.menu nav ul a {
    line-height: 50px;
    display: block;
}

.menu nav ul a:hover {
    background-color: #f1f1f1;
    border-radius: 15PX;
}

/* overlay */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, .7);
    display: none;
    z-index: 8;
}

.overlay.active {
    display: block;
}

/* Hero section */
.hero-container {
    min-height: 500px;
    height: auto;
    background: linear-gradient(to top, #05ce81, #048158);
}

.hero-main {
    min-height: 500px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-content {
    text-align: center;
}

.branding {
    margin-top: 30px;
}

.branding h1 {
    font-size: clamp(2.5rem, 1.4286rem + 4.2857vw, 4.375rem);
    color: #fefefe;
    text-shadow: 0 2px 5px rgba(0, 0, 0, .5);
}

.brand-content {
    margin: 20px auto;
    width: 70%;
}

.brand-content p {
    color: #fefefe;
}

.hero-btns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 30px;
}

.hero-btns .btn {
    width: 200px;
    height: 50px;
    border: none;
    border-bottom: 4px solid rgba(0, 0, 0, .2);
    border-radius: 50px;
    font-size: 17px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
}

.hero-btns .btn:hover,
.btn-3:hover {
    filter: brightness(90%);
}

.hero-btns .btn:active,
.btn-3:active,
.btn-4:active,
.btn-5:active {
    transform: scale(0.9);
    box-shadow: unset;
    border-bottom: unset;
}

.fa-arrow-right {
    color: #05ce81;
}

.btn-1 {
    background-color: #fefefe;
}

.btn-1 a {
    color: #05ce81;
}

.btn-2 {
    background-color: gold;
}

/* About Section */
.container {
    height: auto;
    min-height: 500px;
    margin-top: 80px;
}

.title {
    margin: 60px 0 30px 0;
    text-align: center;
    padding-bottom: 30px;
}

.title h2 {
    font-size: clamp(1.5625rem, 1.0268rem + 2.1429vw, 2.5rem);
    margin-bottom: 15px;
}

.mark {
    color: #048158;
}

.wrapper {
    height: auto;
    min-height: 500px;
    display: flex;
    align-items: center;
    gap: 50px;
    overflow-x: hidden;
}

.wrap {
    width: 50%;
    /* height: 500px; */
    opacity: 0;
    transform: translateX(50%);
    transition: 0.5s;
}
.wrap.active{
    opacity: 1;
    transform: translateX(0);
}

.wrap img {
    width: 100%;
    height: 100%;
}

.wrap p {
    margin-bottom: 10px;
}

.wrap .btn {
    height: 50px;
    border: none;
    width: 200px;
    border-radius: 50px;
    border-bottom: 4px solid rgba(0, 0, 0, .3);
    margin-top: 40px;
}

.btn-3 {
    background-color: #05ce81;
}

.btn-3 a {
    color: #fefefe;
}

/* services section */
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 40px;
    /* You can adjust the gap value to suit your needs */
}

.grid-box {
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, .2); */
    padding: 10px;
    border-radius: 10px;
    height: auto;
    display: flex;
    /* align-items: center; */
    gap: 20px;
}

.grid-box i {
    font-size: 30px;
    color: #05ce81;
    margin-top: 35px;
}

.content h3 {
    margin: 20px 0;
}

/* trust */
.btn-4 {
    background-color: #05ce81;
}

.btn-4 a {
    color: #fefefe;
}

.btn-4 i {
    color: #fefefe;
}

/* stripe */
#stripe {
    background-color: #05ce81;
    transform: translateY(-20px);
}

#stripe h2,
#stripe p {
    color: #fefefe;
}

.svg {
    transform: translateY(-150px);
}

/* contact section */
form {
    width: 400px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.btn-5 {
    background-color: #05ce81;
    color: white;
    /* padding: 10px 20px; */
    height: 40px;
    width: 180px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    border-bottom: 4px solid rgba(0, 0, 0, .3);
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
}

.btn-5:hover {
    filter: brightness(90%);
}

.social-links {
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.social-links i {
    font-size: 25px;
    color: #05ce81;
}

/* footer */
footer {
    text-align: center;
    padding: 30px;
    background-color: #f9f9f9;
}





/* responsiveness */
@media (max-width:786px) {
    .toggle-box {
        display: flex;
    }

    header nav ul {
        display: none;
    }

    nav ul a::before {
        display: none;
    }

    .menu ul li a:hover,
    .current {
        color: #66cdaa;
    }

    .head-container {
        width: 95%;
        border-radius: 30PX;
        min-height: 50px;
    }

    .main {
        width: 90%;
    }

    .brand-content {
        width: 100%;
    }

    .hero-btns {
        flex-direction: column;
        /* align-items: center; */
        height: auto;
        gap: 10px;
    }

    .hero-btns .btn,
    .btn-3 {
        width: 200px;
        height: 40x;
    }

    .branding {
        margin-top: 50px;
    }

    header {
        height: 50px;
    }

    .wrapper {
        flex-direction: column-reverse;
    }

    .wrap {
        width: 100%;
    }

    /* .grid-box{
        display: flex;
        align-items: center;
        gap: 20px;
    } */
    .inverse {
        flex-direction: column;
    }

    .trust {
        text-align: center;
    }

    form {
        width: 100%;
    }
    .content p{
        font-size: 15px;
    }

}
